*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: #1b1b32;
}

.App{
  padding: 15px;
  font-family: Lato, sans-serif;
}

h1{
  color: white;
  text-align: center;
}

.principal-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}